.env
**/.env
.DS_Store
**/.DS_Store
__pycache__/
**/__pycache__/

# Node.js
node_modules/
**/node_modules/
.next/
**/.next/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# SQLite
*.db
**/*.db
